{% extends "partials/layout.html" %} 
{% load crispy_forms_tags %}


{% block title %}
Home
{% endblock title %}

{% block header %}
{% include "partials/header.html" %}s
{{context}}
{% endblock header %}

{% block breakingnews %}
{% include "partials/breakingnews.html" %}
{% endblock breakingnews %}

{% block allnews %}
<form method='post'>
<div class="col-md-6">
{% csrf token %}
    {{ form|crispy }}
    <button type="button" class="btn btn-danger">Submit</button>


    </div>
</form>
{% endblock allnews %}

{% block topnews %}
{% include "partials/topnews.html" %}
{% endblock topnews %}

{% block footer %}
{% include "partials/footer.html" %}
{% endblock footer %}

{% block script %}
{% include "partials/script.html" %}
{% endblock script %}