{% extends "partials/layout.html" %} 
{% load crispy_forms_tags %}


{% block title %}
Home
{% endblock title %}

{% block header %}
{% include "partials/header.html" %}s
{{context}}
{% endblock header %}

{% block breakingnews %}
{% include "partials/breakingnews.html" %}
{% endblock breakingnews %}

{% block allnews %}
 <p>logout successful<a href="{% url 'login' %}">Login again</a></p>
 <p>Back to home page<a href="{% url 'home' %}">Back to home</a></p>
{% endblock allnews %}

{% block topnews %}
{% include "partials/topnews.html" %}
{% endblock topnews %}

{% block footer %}
{% include "partials/footer.html" %}
{% endblock footer %}

{% block script %}
{% include "partials/script.html" %}
{% endblock script %}